body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Roboto;
}
.contact-title {
    color: rgb(59, 44, 44);
    text-transform: uppercase;
    margin-top: 100px;
}

.contact-title h1 {
    font-size: 32px;
    line-height: 10px;
}

form {
    margin-top: 50px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: rgb(39, 24, 24);
    font-size: 18px;
    margin-bottom: 16px;
}

/*FOR MESSAGE FIELD HEIGHT*/
.form-control-message {
    width: 600px;
    height: 50px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-bottom: 1px solid gray;
    color: rgb(39, 24, 24);
    font-size: 18px;
    margin-bottom: 16px;
}
/*FOR MESSAGE FIELD HEIGHT END*/

input {
    height: 45px;
}

form .submit {
    background: rgb(95, 67, 67);
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 120px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background-color: rgb(75, 65, 65);
    cursor: pointer;
}

#shopping-cart table{width:100%;background-color: #dedede;}
#shopping-cart table td{background-color:#FFFFFF;}
#shopping-cart table th{text-align:left;}
#shopping-cart {margin-bottom:30px;}

.heading{
    padding: 10px 10px;
    border-radius: 2px;
    color: #FFF;
    background: #443939;
    margin-bottom:10px;
}
a.removeBtn{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}
a.removeBtn:visited{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}

#emptyBtn {
    background-color: #D60200;
    border: #D60200 1px solid;
    padding: 1px 10px;
    color: #ffffff;
    font-size: 0.8em;
    float: right;
    text-decoration: none;
    border-radius: 4px;
}
.addBtn{
    background-color: #eb705b;
    border: 0;
    padding: 3px 10px;
    color: #ffffff;
    margin-left: 2px;
    border-radius: 2px;
}
.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}
/* .product-item {	float:left;	background: #ffffff;margin:15px 10px;	padding:5px;border:#CCC 1px solid;border-radius:4px;} */
/* .product-item div{text-align:center;	margin:10px;}
.product-price {color: #005dbb;font-weight: 600;}
.product-image {height:100px;background-color:#FFF;} */